<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/36a4c2d72b.js" crossorigin="anonymous"></script>
    <title>Hockey</title>
    <link rel="stylesheet" href="../static/css/styleHockey.css">
</head>

<body>
    <header class="header">
        <div id="inicio">
            <a href="index.html" ><i class="fa-solid fa-house"></i>INICIO</a>
        </div>
    </header>
    <section class="container">
        
        <div class="item subtitulo"> <h3>Tipos de cancha </h3></div> 
        <div class="item left"> Cancha de hockey sobre césped con base de agua 
            <img src="../img/cancha_base_agua.jpg" alt="Cancha hockey base de agua">
            <p> La cancha con base de agua es apto para todos los niveles de hockey sobre césped y puede obtener las certificaciones FIH Global y FIH Global Elite mediante pruebas. Las competiciones internacionales de hockey sobre césped, como los Juegos Olímpicos y la Copa del Mundo de la 
                FIH, exigen campos de hockey con base de agua. En la cima de las superficies con base de agua se encuentra el césped totalmente sintético con monofilamentos rizados cortos y densos que no requieren relleno y se riegan para mantener un nivel de juego óptimo. Cuando se riega, es posible realizar aún más habilidades y los jugadores pueden tener el máximo impacto en el juego. </p>
        </div>
        <div class="item contenido"> Cancha de hockey sobre césped con revestimiento de arena   
            <img src="../img/cancha_con_revestimiento_de_arena.png" alt="Cancha de hockey con revestimiento de arena">
            <p>Una cancha de hockey sobre césped con revestimiento de arena es ideal para la mayoría de las aplicaciones de hockey. Puede albergar partidos a nivel nacional, local y de club, y puede obtener la certificación nacional de la FIH. Satisface la mayoría de los requisitos de un campo con agua y ofrece importantes ventajas económicas, por lo que es el tipo de campo de hockey sobre hierba más popular. Su densa superficie de fibras oculta el relleno de arena, que ayuda a sostener las fibras para crear una superficie de juego rápida, segura y consistente. </p>  
        </div>
        <div class="item contenido2"> Cancha de hockey sobre césped con relleno de arena 
            <img src="../img/cancha_relleno_de_arena.jpg" alt="Cancha relleno de arena">
            <p>Similar a un campo cubierto de arena, una cancha de hockey sobre césped con relleno de arena utiliza arena como material de relleno. La diferencia reside en que está hecha de menos fibras, más largas, y más arena, lo que hace que la bola ruede relativamente más despacio. Hoy en día, las canchas con relleno de arena construidas específicamente para el hockey son poco frecuentes y se adaptan mejor a un uso polideportivo, incluido el hockey. Para las comunidades y las instituciones educativas, representan la opción más económica entre nuestros tres tipos de canchas. </p>
        </div>
        <div class="descripcion"> <h3>Curiosidades</h3>
            <p>El hockey sobre césped es un emocionante deporte que se juega en un campo de césped artificial. </p>
            <dl> 
                
                <dt> Algunas reglas básicas  </dt>
                    <dd>Cada equipo tiene 11 jugadores en el campo.</dd>
                    <dd>El objetivo es anotar goles en la portería del equipo contrario.</dd>
                    <dd>Los jugadores utilizan un palo especial para golpear la bocha.</dd>
                    <dd>No se permite tocar la bocha con las manos ni los pies.</dd>
                <dt>Campo de juego </dt>
                    <dd>Medidas: 91,4 metros de largo por 55 metros de ancho.</dd>
                    <dd>Superficie: Césped artificial.</dd>
                    <dd>Hay una línea a 23 metros del fondo, que limita el espacio donde puede adelantarse el portero.</dd>
                    <dd>Frente a la portería, hay un área semicircular llamada “círculo” o “área pequeña”.</dd>
                <dt> Equipamiento </dt>
                    <dd> Cada jugador tiene un palo especial para golpear la bocha </dd>
                    <dd>El protector bucal protege los dientes y la mandíbula de impactos.</dd>
                    <dd>Canilleras y espinilleras para proteger las piernas durantes los choques y bloqueos</dd>
                    <dd>Guantes para protegen las manos y los dedos. Ayudando a mantener un buen agarre en el palo de hockey </dd>
            </dl>                  
        </div>
        <div class="item footer">  
            <a href="https://www.cahockey.org.ar"><h3> Enlace a Confederación Argentina de Hockey </h3> </a> 
            <a href="https://www.cahockey.org.ar/reglamentos"><h3> Reglamento de hockey sobre cesped</h3></a>
        </div>
    </section>
</body>
</html>

