<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://kit.fontawesome.com/36a4c2d72b.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../Java/globe-solid.svg">
    <title>Ingreso Exitoso</title>
</head>
<body>
    <section>
        <div class="contenedores">
            <h1>Datos ingresados exitosamente</h1>
        </div>
        <div class="volverinicio">
            <a href="{{ url_for ('home')}}">Volver al Inicio</a>
        </div>
    </section>
</body>
</html>